body {
    background-image: url("https://media.tenor.com/uak3EWtOvxUAAAAM/tobi-naruto.gif");
    background-repeat:no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20;
    color: white;
}

img{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0 10px 20px darkgray;
    background-color: limegreen;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.5;
}
.botao{
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 60px auto 0 auto;
    border: 2px solid black;
    border-radius: 80px;
    box-shadow: 0 10px 20px darkgray;
    background-color: limegreen;
    opacity: 0.7;
    padding: 20px;
    width: 800px;
    
}
 input {
    border-radius: 80px;
    border: 2px solid redvelvet;
    box-shadow: 0 20px 20px;
    font-size: 40px;
    width: 80%;
    max-width: 300px;
    padding: 10px;
 }

 button {
      background-color: orange;
      border: 2px dotted black;
      border-radius: 60px;
      font-size: 20px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3 ease;
 }

/* Responsividade para celulares */

@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    .botao {
        flex-direction: column;
        gap: 18px;
    }
    input {
        font-size: 18px;
    }
    button {
        width:100%;
    }
}





